// ==============================================
// Spinner style
// ==============================================

@use 'variables' as var;

%spinner-default-size {
  $size: 15px;

  width: $size;
  height: $size;
  border-radius: 50%;
}

%default-spinner {
  $color: #000;
  $size: 10px;

  @extend %spinner-default-size;

  position: relative;
  
  border: {
    top: $size solid rgba($color, .2);
    right: $size solid rgba($color, .2);
    bottom: $size solid rgba($color, .2);
    left: $size solid rgba($color, .6);
  }

  &:after {
    @extend %spinner-default-size;
  }
  
  &.is__theme--light {
    $color: #fff;

    border: {
      top: $size solid rgba($color, .5);
      right: $size solid rgba($color, .5);
      bottom: $size solid rgba($color, .5);
      left: $size solid rgba($color, 1);
    }
    background-color: rgba($color, 0) !important;
  }
}

.spinner {
  @extend %default-spinner;

  animation:
    fade-grow 1.1s linear,
    spinner 1.1s infinite linear,
  ;

  &--centerY {
    @extend %default-spinner;

    animation:
      fade-grow-centerY 1.1s linear,
      spinner-centerY 1.1s infinite linear,
    ;
  }
}
